[Unit]
Description=Run flatpak update some time after boot

[Timer]
OnBootSec=1min
RandomizedDelaySec=25s
Persistent=true

[Install]
WantedBy=timers.target